.current-mission {
  padding: 1.5rem 0 1.5rem 0;
  color: #6088BB;
  font-size: 1.8rem;
}

.change-mission {
  margin: 0 0 1.5rem 0;
}

.mission-input {
  height: 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
}