#form {
  margin: 0.5rem auto 0.1rem auto;
  border: thin solid black;
}

.label > input, label > select {
  margin: 0.2rem 0 0.2rem 0.5rem;
}

.current-tasks {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;

}

.task-list-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-text {
  border: thin solid black;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

form input {
  font-size:1.3rem;
  background-color: #9EF4E6;
}

form select {
  font-size: 1.3rem;
  background-color: #9EF4E6;
}

.label {
  font-family: 'Fira Sans', sans-serif !important;
  font-size: 1.5rem;
}

.task {
  font-family: 'Fira Sans', sans-serif !important;
  text-align: start;
  padding: 0.4rem;
  font-size: 1.5rem;
}

.delete-task {
  margin: 0;
  height: 1.5rem;
  padding-bottom: 1.7rem;
}

.dropdown {
  display: inline-block;
  padding: 1rem;
}

.task-label {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 0.4rem;
}

.task-header {
  font-size: 1.7rem;
  padding-top: 1rem;
  margin-left: 0.8rem;
  font-family: 'Bitter', serif;
}

@media (min-width: 768px) {
  #form {
    width: 30rem;
  }
  .task-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

}
