#form {
  margin: 0.5rem auto 0.1rem auto;
  border: thin solid black;
  width: 40rem;
}

.label > input, label > select {
  margin: 0.2rem 0 0.2rem 0.5rem;
}

.current-tasks {
  width: 40rem;
  height: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.task-list-div {
  display: flex;
  justify-content: center;
}

.task-text {
  border: thin solid black;
  display: flex;
  justify-content: flex-start;
  width: 40rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
}


.task {
  text-align: start;
  padding: 0.2rem;
}

.delete-task {
  margin: 0;
  height: 1.5rem;
}

/*.current-tasks.task {



}*/
/*.current-tasks.task-note {
padding: 20px;
}

.current-tasks.delete-task {
   display: inline-block;
  text-align: right;
}*/

