#header {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.prioritize-name {
  font-family: 'Bitter', serif;
}
.nav-wrapper {
  background-color: #6088BB;
  height: 500px;
}

.nav {
  height: 50rem;
}

@media (min-width: 400px) {
  #header {
    font-size: 4rem;
  }
}